  body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  h2, h3, h4, h5, h6 {
    color: #444444;
  }
  h1 {
    font-family: FreeMono, monospace;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .bg-steel {
    background-color: #ebe9e7;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(13, 46, 155, 0.411);
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .message-box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
  }
  
  .message{
    overflow: scroll;
    flex: 1;
    width: 100%;
  }
  
  .inputs{
    padding: 10px;
    display: flex;
  }
  
  h2{
    text-align: center;
  }

  #message{
    flex: 1;
  }

  .text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .muted{
    font-size: 10px;
    color: darkgray;
  }
  
  button {
    background-color: rgba(13, 46, 155, 0.411);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -250px;
  }
  .button a {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .background {
    background-color: #000000;
  }

  .title {
    text-align: center;
    color: rgba(13, 46, 155, 0.411);
    margin-top: 10px;
  }
  .image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }

  .image-container img {
    width: 100px;
    height: auto;
    margin: 0 -5px;
  }

  .message-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .message {
      text-align: center;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  .chat-form,
  .friend-list-form,
  .friend-request-form {
    margin-bottom: 20px;
  }

  .chat {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .chat input[type="text"],
  .friend input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .chat button,
  .friend button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .chat button {
    background-color: #007bff;
    color: #fff;
  }

  .friend button {
    background-color: #007bff;
    color: #fff;
  }

  .friend-list {
    display: flex;
    flex-wrap: wrap;
  }

  .friend-list button {
    margin: 5px;
    padding: 8px 15px;
    background-color: rgba(13, 46, 155, 0.411);
    color: #212529;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .friend-requests ul {
    list-style: none;
  }

  .friend-requests li {
    margin-bottom: 10px;
  }

  .friend-requests button {
    margin-right: 10px;
  }

  .friend-request {
    font-size: 20px;
    color: rgba(13, 46, 155, 0.411);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 8px;
    border-radius: 5px;
    max-width: 200px;
    margin-left: 130px;
  }
  .alert-home {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 8px;
    border-radius: 5px;
    max-width: 200px;
  }
  .profile {
    display: flex;
    justify-content: space-between;
    float: right;
  }
  .profile_text{
    width:150px;
    color:rgba(13, 46, 155, 0.411);
    margin-top: 10px;
  }
  .repo-btn{
    margin-left: 50px;
    padding-top: 10px;
  }
  .repo-box {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 70%;
    overflow-y: auto;
    text-align: center;
}
  .repo-body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .post-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: left;
}

.post-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow-y: auto;
    font-family: FreeMono, monospace
}

.post-item:hover {
    background-color: #f0f0f0;
}
.post-button-container {
  display: flex;
  flex-direction: column;
  height: auto; /* 或根据需要设置高度 */
}

.new-post-button {
  display: block; /* 设置为块级元素 */
  background: transparent;
  border: none;
  padding: 0;
  text-align: left;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.new-post-button img {
  width: 100%;
  height: 100%;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.post-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #DCC7E1;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.role-box {
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #f5c6cb;
  border-radius: 3px;
  background-color: #f8d7da;
  color: #000000;
  font-size: 12px;
  font-family: Impact, fantasy
}

.role{
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #f5c6cb;
    border-radius: 3px;
    background-color: #f8d7da;
    color: #000000;
    font-size: 15px;
    font-family: Impact, fantasy;
    font-weight: normal;
}