{% extends 'base.html' %}
{% block content %}
{% if current_user_name %}
        <div class="profile">
            <h3 class="profile_text">Logged in as: {{ current_user_name }}</h3>
            <button type="button" onclick="Logout()">Logout</button>
            <h3 class="profile_text">You are: {{ role }}</h3>
        </div>
{% endif %}
<meta charset="UTF-8">
<meta http-equiv="refresh" content="3">
<select id="background-select">
    <option value="default">Pink</option>
    <option value="background1">Black</option>
    <option value="background2">White</option>
    <option value="background3">Green</option>
</select>
<div class="repo-btn">
    <form method="post">
        <button type="submit" name="repo">Knowledge repository</button>
    </form>
</div>
{% if role != 'STUDENT' %}
<div class="container">
    <form method="post">
        <div class="friend">
        <input type="text" placeholder="Username" name="ban" value="{{username}}" />
        <button type="submit" name="ban_btn">Ban</button>
        </div>
        {% if ban_error %}
        <div class="alert alert-danger">{{ ban_error }}</div>
        {% endif %}
    </form>
</div>
{% endif %}
<div class="container">
    <form method="post" class="chat-form">
        <h1 class="title">Chat with user</h1>
        <div class="friend">
            <input type="text" placeholder="Username" name="code" value="{{username}}" />
            <button type="submit" name="create">Create Room</button>
            <button type="submit" name="join">Join Room</button>
        </div>
        {% if chat_error %}
        <div class="alert alert-danger">{{ chat_error }}</div>
        {% endif %}
    </form>

    <div class="friend">
        <input type="text" placeholder="Friend username" id="friend_username" value="{{friend}}" />
        <button type="button" name="request" id="send_request" onClick="sendRequest()">Send add request</button> 
    </div>

    <form method="post" class="friend-list-form">
        <h1 class="title">Friend List</h1>
        <div class="friend-list">
            {% for friend in friends %}
                <button type="submit" name="clickfriend" value="{{ friend.receiver.username }}"><div class="TEXT">{{ friend.receiver.username }}</div></button>
                {% if friend.receiver.online %} 
                <img src="../static/green.png" alt="Online" width="2%" height="2%" style="margin-top: 15px; margin-right: 3px;">
                {% else %}
                <img src="../static/grey.png" alt="Online" width="2%" height="2%" style="margin-top: 15px; margin-right: 3px;">
                {% endif %}
                <span class="role-home">{{ friend.receiver.role.value }}</span>
                <input type="hidden" name="friend_id" id="friend_id" value="{{friend.receiver.id}}">
                <input type="hidden" name="self_id" id="self_id" value="{{friend.sender.id}}">
                <button type="button" name="remove" id="remove-btn" onclick="removeRequest()"><div class="TEXT">Remove</div></button>
            {% endfor %}
        </div>
    </form>

    <div class="friend-requests">
        <h1 class="title">Friend Request</h1>
        <ul>
            {% for request in friend_requests %}
                <li class="friend-request">{{ request.sender.username }} sent you a friend request
                    <form method="post" class="friend-request-form">
                        <input type="hidden" name="request_id" id="request_id" value="{{ request.id }}">
                        <input type="hidden" name="state" id="accept" value="{{ request.accepted }}">
                        <button type="button" name="accept" id="accept-btn" onclick="acceptRequest()">Accept</button>
                        <button type="button" name="reject" id="reject-btn" onclick="rejectRequest()">Reject</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
    var socketio = io()
    const friendUsername = document.getElementById('friend_username').value;
  
    const sendRequest = () =>{
        const friendUsername = document.getElementById('friend_username').value;
        const current_user_name = "{{ current_user_name }}";
        if (friendUsername == "") return;
        socketio.emit('send_friend_request', {friendUsername: friendUsername, sender_name: current_user_name});
        socketio.emit('rt')
    }
    
    socketio.on('friend_request_error', function(data) {
        var error = data.error;
        alert(error);
    });

    socketio.on('friend_request_notification', function(data) {
        var receiver = data.receiver;
        alert('You send a friend request to ' + receiver);
    });

    const acceptRequest = () =>{
        const id = document.getElementById('request_id').value;
        const state = document.getElementById('accept').value;
        socketio.emit('accept_request', {request_id: id, state: state});
        socketio.emit('rt')
    }

    socketio.on('accept', function() {
        alert('You have accepted the request.');
    });

    socketio.on('accept_error', function(data) {
        var error = data.error;
        alert(error);
    });

    const rejectRequest = () =>{
        const id = document.getElementById('request_id').value;
        socketio.emit('reject_request', {request_id: id});
        socketio.emit('rt')
    }   
    
    socketio.on('reject', function() {
        alert('You have rejected the request.');
    });

    socketio.on('reject_error', function(data) {
        var error = data.error;
        alert(error);
    });

    const removeRequest = () =>{
        const fid = document.getElementById('friend_id').value;
        const id = document.getElementById('self_id').value;
        socketio.emit("remove", {fid: fid, id:id});
        socketio.emit('rt')
    }

    socketio.on('remove_msg', function(){
        alert("You have remove the user");
    });

    const goBack = () =>{
        window.location.href = "/chathome";
    }

    function Logout(){
        window.location.href = "/";
    }

    window.addEventListener('DOMContentLoaded', applySavedBackground);

    document.getElementById('background-select').addEventListener('change', changeBackground);

    function changeBackground() {
        var selectedBackground = document.getElementById('background-select').value;
        
        localStorage.setItem('selectedBackground', selectedBackground);

        applyBackground(selectedBackground);
    }

    function applySavedBackground() {
        var savedBackground = localStorage.getItem('selectedBackground');
        
        if (savedBackground) {
            applyBackground(savedBackground);
            document.getElementById('background-select').value = savedBackground;
        }
    }

    function applyBackground(background) {
        if (background === 'background1') {
            document.body.style.background = 'url(../static/background-black.jpg)';
        } else if (background === 'background2') {
            document.body.style.background = 'url(../static/white.jpg)';
            document.body.style.backgroundPosition = '0px -400px';
        } 
        else if(background === "background3"){
            document.body.style.background = 'url(../static/green.jpg)';
        }
        else {
            document.body.style.background = '';
        }
    }

    socketio.on('reload', function(){
            goBack();
    })

</script>

{% endblock %}