<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elliptic/6.5.4/elliptic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
</head>
<body>
    <div class="content-section">
        <form method="POST">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <div class="Login">
                    <input type="text" placeholder="username" name="username" value="{{username}}" />
                    <input type="password" placeholder="password" name="password" value="{{password}}" /> 
                </div>
                {% if login_error %}
                <div class="alert alert-danger">{{ login_error }}</div>
                {% endif %} 
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-outline-info" onclick="login()">Login</button>
            </div>
        </form>
    </div>
    <script>
        var socketio = io();
        const login = () => {
            const username = document.getElementsByName('username')[0].value;
            socketio.emit('user_salt', { username: username });
            socketio.on('salt', function(data) {
                const passwordField = document.getElementsByName('password')[0];
                const passwordValue = passwordField.value;
                const saltedPassword = passwordValue + data.salt;
                const hashedPassword = CryptoJS.SHA256(saltedPassword).toString(CryptoJS.enc.Hex);
                passwordField.value = hashedPassword;
                document.querySelector('form').submit();
            });
        };
        socketio.on('login_error', function(data) {
                const error = data.error;
                alert(error);
            });
    </script>
</body>
</html>