<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elliptic/6.5.4/elliptic.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1 class="title">Sign up</h1>
    <div class="content-section">
        
        <form method="POST">
            <fieldset class="form-group">
                <div class="register">
                    <input type="text" placeholder="username" name="username" value="{{username}}" />
                    <input type="password" placeholder="password" name="password" value="{{password}}" /> 
                    <input type="hidden" name="salt" id="salt" />
                    <input type="hidden" name="PK" id="PK" />
                </div>
                {%if register_error %}
                <div class="alert">{{ register_error}}</div>
                {% endif %} 
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-outline-info" onclick="hashPassword()">Sign up</button>
                <button type="button" onclick="goBack()">Back</button>
            </div>
        </form>
    </div>

    <script>

        function hashPassword() {
            var passwordField = document.getElementsByName('password')[0];
            var passwordValue = passwordField.value;

            if (!passwordValue) {
                alert("Password can not be none.");
                return;
            }
            var salt = generateSalt();
            var saltedPassword = passwordValue + salt;
            var hashedPassword = CryptoJS.SHA256(saltedPassword).toString(CryptoJS.enc.Hex);
            passwordField.value = hashedPassword;
            document.getElementById('salt').value = salt;
            const ec = new elliptic.ec('secp256k1');
            const sha256Bytes = new Uint8Array(hashedPassword.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));
            const keyPair = ec.genKeyPair({ entropy: sha256Bytes });
            document.getElementById('PK').value = keyPair.getPublic('hex');
            document.querySelector('form').submit();
        }

        function generateSalt(){
            var length = 4;
            var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            var salt = ""
            for (var i = 0; i < length; i++) {
                salt += charset.charAt(Math.floor(Math.random() * charset.length));
            }
            return salt;
        }

        function goBack(){
            window.location.href = "/";
        }

    </script>
</body>
</html>
