<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge-Repository</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<select id="background-select">
    <option value="default">Pink</option>
    <option value="background1">Black</option>
    <option value="background2">White</option>
    <option value="background3">Green</option>
</select>
<div class="repo-body">
    <div class="repo-box">
        <h1>Knowledge-Repository</h1>
        <h1>Login as {{ current_user_name }}
            {% if role %}
               <span class="role">{{ role }}</span>
            {% endif %}
        </h1>
        {% if error %}
        <h1>You have been banned</h1>
        {% endif %}
        <ul class="post-list">
            {% for post in posts %}
                <form method="post">
                    <button class="post-item-btn" type="submit" name="get_post" value="{{ post.id }}">
                        #{{ post.id }}: {{ post.title }} post by: {{ post.poster.username }}
                        {% if post.poster.role %}
                            <span class="role-box">{{ post.poster.role.value }}</span>
                        {% endif %}
                    </button>
                </form>
            {% endfor %}
        </ul>
    </div>
        <div class="post-button-container">
            <form method="post">
                <button class="new-post-button" type="submit" name="make_post">
                    <img src="../static/plus.png">
                </button>
                <button class="new-post-button" type="button" onclick="goBack()">
                    <img src="../static/back.png">
                </button>
            </form>
        </div>
    </div>
</html>
<script type="text/javascript">
    var socketio = io()
    const goBack = () =>{
        window.location.href = "/chathome";
    }
    window.addEventListener('DOMContentLoaded', applySavedBackground);

    document.getElementById('background-select').addEventListener('change', changeBackground);

    function changeBackground() {
        var selectedBackground = document.getElementById('background-select').value;
        
        localStorage.setItem('selectedBackground', selectedBackground);

        applyBackground(selectedBackground);
    }

    function applySavedBackground() {
        var savedBackground = localStorage.getItem('selectedBackground');
        
        if (savedBackground) {
            applyBackground(savedBackground);
            document.getElementById('background-select').value = savedBackground;
        }
    }

    function applyBackground(background) {
        if (background === 'background1') {
            document.body.style.background = 'url(../static/background-black.jpg)';
        } else if (background === 'background2') {
            document.body.style.background = 'url(../static/white.jpg)';
            document.body.style.backgroundPosition = '0px -400px';
        } 
        else if(background === "background3"){
            document.body.style.background = 'url(../static/green.jpg)';
        }
        else {
            document.body.style.background = '';
        }
    }

    socketio.on('reload', function(){
        flash();
    })

    function flash(){
        location.reload();
    }

</script>